@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-dark text-white antialiased;
}

/* Custom Scrollbar biar estetik */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  @apply bg-dark;
}
::-webkit-scrollbar-thumb {
  @apply bg-slate-700 rounded-full;
}